- unless user_signed_in?

  = link_to "Sign in", new_user_session_path
  = link_to "Sign up", new_user_registration_path
  = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)


- if @restaurants.any?
  - @restaurants.each do |restaurant|
    = link_to restaurant.name, restaurant_path(restaurant)
    = link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
    = link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
    = link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete

    %h3
      Reviews for
      = restaurant.name
      - if restaurant.reviews.any?
        %ul
          - restaurant.reviews.each do |review|
            %li
              #{review.thoughts} Average rating: #{star_rating(restaurant.average_rating)}
              = link_to "Endorse", review_endorsements_path(review), class: 'endorsements-link'
              %span.endorsements_count= review.endorsements.count
              = 'endorsement'.pluralize review.endorsements.count
      - else
        %p No reviews

- else
  %h1 No restaurant yet!


%a(href=new_restaurant_path) Add a restaurant
